/* CSS styles for the card bio page */

:root {
    --energy-color-colorless: #f2f2f2;
    --energy-color-grass: #78c850;
    --energy-color-fire: #f04630;
    --energy-color-water: #6890f0;
    --energy-color-lightning: #d5bc57;
    --energy-color-psychic: #b27ad5;
    --energy-color-fighting: #512815;
    --energy-color-darkness: #34302d;
    --energy-color-metal: #b7b7c7;
    --energy-color-fairy: #c36479;
    --energy-color-dragon: #9b6e29;
}

@font-face {
    font-family: "Energy";
    src: url(Fonts/PokemonRegular.ttf);
}

body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #c1c1c232, #4d4d4d);
    color: #f0f0f0;
    text-align: center;
    padding: 10px;
    opacity: 0.8;
}

#card-bio-container {
    background-color: #2b2b2b;
    display: flex;
    align-items: flex-start;
    max-height: 80vh;
    overflow-y: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.282);
    border-radius: 3mm;
}

.card-image {
    --card-width: 68mm;
    /* Set the card width */
    --card-height: calc(var(--card-width) * 1.4);
    /* Set the card height based on the aspect ratio of a Pokémon card */
    width: var(--card-width);
    height: var(--card-height);
    max-width: 100%;
    /* Adjust to make sure the image doesn't exceed container width */
    max-height: 100%;
    /* Adjust to make sure the image doesn't exceed container height */
    overflow: hidden;
    position: relative;
    border-radius: 3mm;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.282);
    max-height: 80vh;
}

.card-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    max-height: 80vh;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    cursor: pointer;
    /* Add cursor pointer to show it's clickable */
}

.card-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
}

.card-title {
    font-size: 24px;
    padding-left: 20px;
    margin: 20px;
    font-weight: bolder;
}

.card-defined {
    display: grid;
    grid-template-columns: 2.3fr 3fr;
    gap: 10px;
}

.card-info-details {
    background-color: #2b2b2b;
    border-radius: 5px;
    margin: 20px;
    height: fit-content;
    /* Remove fixed width to allow it to expand based on content */
}

.card-info-details p {
    font-size: 14px;
    margin: 10px;
    padding-left: 20px;
    font-family: Verdana;
    font-weight: bold;
}

.card-info-details h3 {
    font-size: 22px;
    margin: 5px;
    padding-left: 20px;
    padding-top: 15px;
    font-family: Verdana;
    font-weight: bold;
}

.card-info-details h4 {
    font-size: 15px;
    margin: 5px;
    padding-left: 20px;
    font-family: Verdana;
    font-weight: bold;
}

.attack-list {
    margin: 10px;
    background-color: #4d4d4d;
    border-radius: 5px;
    font-family: Verdana;
    overflow-y: auto;
}

.attack-list h3 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: Verdana;
    padding-left: 20px;
}

.attack-list ul {
    font-size: 19px;
    font-weight: bold;
    font-family: Verdana;
    list-style-type: none;
    padding-left: 20px;
}

.attack-list h4 {
    font-size: 19px;
    font-weight: bold;
    font-family: Verdana;
}

.attack-list p {
    font-size: small;
    font-weight: bold;
    font-family: Verdana;
    padding-left: 25px;
}

.energy-icons {
    font-family: Energy;
    font-size: 18px;
    margin-right: 5px;
    pointer-events: none;
}


/* Footer styles for the card bio page */

footer {
    background-color: #2b2b2b;
    color: #f0f0f0;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -5px 20px rgba(255, 255, 255, 0.282);
}

.Nav {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

.Nav:hover {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 10px;
    color: #ca2121;
    text-decoration: none;
}

.footTex {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.footTex:hover {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ca2121;
    text-decoration: none;
}


/* Enlarged Overlay Styles */

#card-enlarged-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.enlarged-card-container {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

#enlarged-card-image {
    max-width: 100%;
    max-height: 80vh;
}

#close-button {
    position: fixed;
    top: 5px;
    right: 5px;
    padding-top: 20px;
    padding-right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    font-weight: 900;
}