body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 20;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loader-wrapper {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
}

.loader {
    width: 40px;
    height: 40px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top: calc(50vh - 20px);
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    background-color: #ffffff;
}

header {
    background: #4d4d4d;
    /* Set a gradient for the header */
    color: #f0f0f0;
    /* Set header text color */
    text-align: center;
    padding: 10px;
    opacity: 0.8;
    /* Set header opacity to make it somewhat transparent */
}

header h1 {
    font-size: 24px;
    margin: 0;
}

.search-button:hover {
    background-color: #03438773;
}

search-container {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.search-container select {
    color: #000000;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 600px;
    /* Set the maximum width for the search bar */
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #7b7b7ba0;
    width: 100%;
    /* Make the search input fill the available space */
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff50;
    border: none;
    border-radius: 0 4px 4px 0;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.filter-container,
.type-filter,
.sort-container {
    flex: 1;
    /* Each element will take equal space in the row */
    padding: 10px;
    background-color: #4d4d4d7a;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    margin-right: 10px;
    height: 30px;
    /* Adjust the height to make them shorter */
    padding: 5px 10px;
    /* Add padding to make them shorter */
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #ffffff;
    background-color: #4d4d4d7a;
    width: content;
    height: 30px;
    padding-left: 20px;
    border-radius: 7px;
}

.type-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #ffffff;
    background-color: #4d4d4d7a;
    width: content;
    height: 30px;
    padding-left: 20px;
    border-radius: 7px;
}

.sort-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #ffffff;
    background-color: #4d4d4d7a;
    width: content;
    height: 30px;
    padding-left: 20px;
    border-radius: 7px;
}

.Nav {
    font-family: Verdana;
    font-size: 40px;
    font-weight: 800;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

.Nav:hover {
    font-family: Verdana;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 10px;
    color: #ca2121;
    text-decoration: none;
}

h2 {
    font-family: Verdana;
    font-size: larger;
    font-weight: bold;
    padding-top: 10px;
}

p {
    font-family: Verdana;
    font-size: small;
    font-weight: bold;
    padding-top: 10px;
}

h3 {
    font-family: Verdana;
    font-size: medium;
    font-weight: bold;
    padding-top: 10px;
    color: aquamarine;
}

h4 {
    font-family: Verdana;
    font-size: small;
    font-weight: bold;
    padding-top: 10px;
    color: aquamarine;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    flex: 0 0 calc(20% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.677);
    border-radius: 18px;
    box-shadow: 0 5px 8px #ffffff48;
}

.card img {
    max-width: 100%;
}

.card a {
    display: block;
    text-decoration: none;
    color: white;
    /* Set text color to white */
    font-family: Verdana;
    /* Set font family to Verdana */
}

.card a:hover {
    text-decoration: none;
}

.filter-label {
    font-size: 16px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #4d4d4d00;
}

.filter-select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4d4d4d00;
}

.type-label {
    font-size: 16px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.type-select {
    padding: 10px;
    font-size: 16px;
    border-color: #4d4d4d00;
    border-radius: 4px;
    background-color: #4d4d4d00;
}

.sort-label {
    font-size: 16px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.sort-select {
    padding: 10px;
    font-size: 16px;
    border-color: #4d4d4d00;
    border-radius: 4px;
    background-color: #4d4d4d00;
}

.MenuBar {
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4d4d4d7a;
    height: 40px;
    margin: 20px;
    padding: 14px;
    margin-top: -5px;
}

select {
    background-color: #4d4d4d00;
    color: #ffffff;
    border-color: #4d4d4d00;
    font-size: 16px;
}

footer {
    background-color: #2b2b2b;
    /* Set a dark gray background for the footer */
    color: #f0f0f0;
    /* Set text color to a light color */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -5px 20px #ffffff48;
}

.dark-dropdown {
    color: #000;
}

.footTex {
    color: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.footTex:hover {
    color: #ca2121;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}